<div class="relative flex flex-col w-full h-full">
    <button mat-icon-button class="close-button mat-icon-close-button" (click)="closeDialog()">
        <mat-icon class="close-icon" matPrefix [svgIcon]="'heroicons_solid:x'">X</mat-icon>
    </button>

    <h2 mat-dialog-title class="text-4xl text-center urdu mt-2 mb-1 font-bold text-blue-500">پولنگ ایجنٹس کی تفصیل</h2>
    <div class="dailog-body px-6 pb-2 pt-4 dir-rtl">
        <table class="details-inner-tbl">
            <tr><td class="urdu text-lg font-bold">پولنگ اسٹیشن</td>
                <td colspan="3" class="urdu text-lg font-bold">{{model.pls_name}}</td>
            </tr>
            <tr><td class="urdu text-lg font-bold" style="width: 19%;">ٹوٹل ووٹر</td>
                <td class="font-bold" style="width: 31%;">{{model.pls_votersCount ? model.pls_votersCount.toLocaleString() : 0}}</td>
                <td class="urdu text-lg font-bold" style="width: 19%;">ٹوٹل بوتھ</td>
                <td class="font-bold" style="width: 31%;">{{model.pls_boothsCount ? model.pls_boothsCount.toLocaleString() : 0}}</td>
            </tr>
            <tr *ngIf="model.items != null">
                <td colspan="4">
                    <mat-divider class="mt-2 mb-0 px-4"></mat-divider>
                </td>
            </tr>
            <ng-container *ngFor="let item of model.items; let i = index">
                <ng-container *ngIf="i > 0">
                    <tr><td colspan="4" style="height: 20px;"></td></tr>
                </ng-container>
                <tr><td colspan="4" class="font-bold text-blue-500"><span class="urdu text-lg ml-4">پولنگ ایجنٹ</span> <span style="direction: ltr; unicode-bidi: bidi-override;">({{_sharedService.formatCnic(item.vtr_cnic)}})</span></td></tr>
                <tr><td class="urdu text-lg font-bold">پولنگ ایجنٹ نام</td>
                    <td>
                        <p *ngIf="item.vtr_nameUrdu" class="urdu text-lg font-bold">{{item.vtr_nameUrdu}}</p>
                        <div *ngIf="!item.vtr_nameUrdu">
                            <img class="row_urdu_blob" onerror='this.style.display = "none"' src="{{'data:image/png;base64,' + item.vtr_nameBlob}}"/>
                        </div>
                    </td>
                    <td class="urdu text-lg font-bold">والد/ شوہر کا نام</td>
                    <td>
                        <p *ngIf="item.vtr_fatherUrdu" class="urdu text-lg font-bold">{{item.vtr_fatherUrdu}}</p>
                        <div *ngIf="!item.vtr_fatherUrdu">
                            <img class="row_urdu_blob" onerror='this.style.display = "none"' src="{{'data:image/png;base64,' + item.vtr_fatherBlob}}" />
                        </div>
                    </td>
                </tr>
                <ng-container *ngIf="model.items.length < 3">
                    <tr><td class="urdu text-lg font-bold">گھر کا پتہ</td>
                        <td colspan="3">
                            <p *ngIf="item.vtr_addressUrdu" class="urdu text-lg">{{item.vtr_addressUrdu}}</p>
                            <div *ngIf="!item.vtr_addressUrdu">
                                <img class="row_urdu_blob" onerror='this.style.display = "none"' src="{{'data:image/png;base64,' + item.vtr_addressBlob}}" />
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <tr><td class="urdu text-lg font-bold">ایجنٹ موبائل نمبر</td>
                    <td colspan="3">
                        <ng-container *ngIf="(item.vtr_mobile || item.vtr_mobile2 || item.vtr_mobile3);else nophone_message">
                            {{_sharedService.formatMobile(item.vtr_mobile)}} &nbsp; {{_sharedService.formatMobile(item.vtr_mobile2)}} &nbsp; {{_sharedService.formatMobile(item.vtr_mobile3)}}
                        </ng-container>
                        <ng-template #nophone_message>
                            <span>---</span>
                        </ng-template>
                    </td>
                </tr>
            </ng-container>
            <ng-template [ngIf]="model.items == null">
                <tr><td colspan="4" class="urdu text-lg font-bold text-red-500">کوئی پولنگ ایجنٹ نہیں بنایا گیا</td></tr>
            </ng-template>
        </table>
    </div>
</div>
