<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-20"
                src="assets/images/logo/logo.svg"
                alt="Logo image">
            <h1>Why Voogle?</h1>
            <p>
                World has digitalized with time. All fields of life are transformed to new heights with the help of Information technology. With all these true things, why not we change our formal way of electoral campaign in Pakistan?
            </p>
            <p>
                Voogle is the solution. It helps to innovate your campaign process and give you a total new look and feel. It is a digital and innovative solution to the old fashioned manual campaign and election day process. It converts conventional on-paper voter lists to digital soft data.
            </p>
            <p>
                Voogle helps to manage, automate and facilitate the whole election campaign process. It not only make voter connectivity and accessibility available on one click but provide complete insights of progress.
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/dashboard'">
                <span>Proceed</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>
