<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pt-6 pb-1 sm:px-12 dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-2xl md:text-3xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
                    Polling Stations

                    <div class="top-button-container" style="display: block; float: right;">
                        <!--<button mat-flat-button class="text-primary-800 bg-primary-200 dark:text-primary-50 dark:bg-primary-400" aria-label="Download Report as PDF">Download</button>-->
                    </div>
                </h2>
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="relative pt-4 pb-12 sm:pt-4 sm:pb-16 px-2 sm:px-10 overflow-hidden">

        <form class="flex flex-col mt-4 pb-4 overflow-hidden">
            <div class="grid grid-cols-9 t-xs:flex-row dir-rtl">
                <mat-form-field class="flex-auto col-span-2 gt-xs:pr-3 text-sm mr-2 ml-2">
                    <mat-select [formControl]="paConstituency" (selectionChange)="populatePollingLocationsDD()" [placeholder]="'صوبائ اسمبلی حلقہ'">
                        <mat-option class="text-right">--- all ---</mat-option>
                        <mat-option class="text-right" *ngFor="let dd of ddPaConstituencies" [value]="dd.id">{{dd.description}}</mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:globe'"></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-auto col-span-4 gt-xs:pr-3 text-sm mr-2 ml-2">
                    <mat-select [formControl]="pollingLocation" [placeholder]="'پولنگ لوکیشن'">
                        <mat-option class="text-right">--- all ---</mat-option>
                        <mat-option class="fulltext text-right" *ngFor="let dd of ddPollingLocations" [value]="dd.id">{{dd.description}}</mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:library'"></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-auto col-span-3 text-sm gt-xs:pr-3 mr-2 ml-2 text-right">
                    <mat-select [formControl]="searchType" [placeholder]="'خصوصیات'">
                        <mat-option class="text-right">--- all ---</mat-option>
                        <mat-option value="1" class="text-right">Male Polling Stations</mat-option>
                        <mat-option value="2" class="text-right">Female Polling Stations</mat-option>
                        <mat-option value="3" class="text-right">Combined Polling Stations</mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:star'"></mat-icon>
                </mat-form-field>
                <div class="flex col-span-9 mr-1 justify-end">
                    <button class="px-8 mr-2 ml-2"
                        mat-flat-button
                        name="btn-clear" ngDefaultControl
                        (click)="clear()"
                        [color]="'accent'" type="button">
                        Clear
                    </button>
                    <button class="px-8 mr-2 ml-2"
                        mat-flat-button
                        name="btn-search" ngDefaultControl
                        (click)="search()"
                        [color]="'primary'" type="button">
                        Search
                    </button>
                </div>
            </div>
        </form>

        <mat-divider class="mt-2 mb-12 mx-2"></mat-divider>

        <div class="sm:col-span-6 flex flex-col mx-2 mt-4 flex-auto bg-card shadow rounded-2xl overflow-hidden">

            <div class="flex flex-col flex-auto overflow-x-auto">
                <table dir="rtl"
                    class="min-w-240 min-h-30 overflow-y-visible"
                    mat-table [dataSource]="dataSource" matSort matSortActive=""
                    matSortDisableClear matSortDirection="asc">

                    <ng-container matColumnDef="rownumber">
                        <th mat-header-cell *matHeaderCellDef class="text-center">#</th>
                        <td mat-cell *matCellDef="let row" class="text-center">{{row.rownumber}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pls_number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg pr-2">نمبر</th>
                        <td mat-cell *matCellDef="let row">{{row.pls_number}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pls_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg pr-2">پولنگ اسٹیشن</th>
                        <td mat-cell *matCellDef="let row" class="font-semibold"
                        [class.urdu]="this._sharedService.isUrduString(row.pls_name) == true"
                        [class.text-lg]="this._sharedService.isUrduString(row.pls_name) == true"
                        [class.text-md]="this._sharedService.isUrduString(row.pls_name) == false"><a class="text-blue-500 font-bold" (click)="viewDetails(row)" href="javascript:void(0)">{{row.pls_name}}</a></td>
                    </ng-container>

                    <ng-container matColumnDef="pls_type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg pr-2">قسم</th>
                        <td class="urdu text-lg" mat-cell *matCellDef="let row">
                            <ng-template [ngIf]="row.pls_type == 'M'">مرد</ng-template>
                            <ng-template [ngIf]="row.pls_type == 'F'">عورت</ng-template>
                            <ng-template [ngIf]="row.pls_type == 'C'">مشترکہ</ng-template>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pls_votersCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg min-w-16">ٹوٹل ووٹر</th>
                        <td mat-cell *matCellDef="let row">{{row.pls_votersCount ? row.pls_votersCount.toLocaleString() : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pls_maleVotersCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg min-w-16">مرد ووٹر</th>
                        <td mat-cell *matCellDef="let row">{{row.pls_maleVotersCount ? row.pls_maleVotersCount.toLocaleString() : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pls_femaleVotersCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg min-w-16">خواتین ووٹر</th>
                        <td mat-cell *matCellDef="let row">{{row.pls_femaleVotersCount ? row.pls_femaleVotersCount.toLocaleString() : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pls_boothsCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg min-w-16">ٹوٹل بوتھ</th>
                        <td mat-cell *matCellDef="let row">{{row.pls_boothsCount}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pls_maleBoothsCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg min-w-16">مرد بوتھ</th>
                        <td mat-cell *matCellDef="let row">{{row.pls_maleBoothsCount}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pls_femaleBoothsCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg min-w-16">خواتین بوتھ</th>
                        <td mat-cell *matCellDef="let row">{{row.pls_femaleBoothsCount}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pls_blockCodesCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="urdu text-lg min-w-16">بلاک کوڈز</th>
                        <td mat-cell *matCellDef="let row">{{row.pls_blockCodesCount}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef disableClear></th>
                        <td mat-cell style="width: 140px;" *matCellDef="let row">
                            <div #listItem>
                                <button name="btn-details" ngDefaultControl class="px-0.5 py-3 mx-0.5 text-sm text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500 list-btn"
                                    mat-flat-button (click)="viewDetails(row)">Details</button>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="text-center text-md p-9 dir-ltr">
                          No records found.
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="loading">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="text-center text-md p-9 dir-ltr">
                          Loading, please wait...
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['loading']" [hidden]="isLoading == false && dataSource !== undefined"></tr>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="isLoading == true || (dataSource && dataSource.data.length > 0)"></tr>
                </table>

                <div *ngIf="isLoading" class="py-14"
                    style="display: block; position: absolute; width: 100%; padding-left: 43% !important; margin-top: 16px !important;">
                    <mat-progress-spinner
                        diameter="60"
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>

            </div>
            <mat-paginator [length]="resultsLength" [pageSize]="25" aria-label="Select page of search results">
            </mat-paginator>
        </div>

    </div>
</div>
