<div class="relative flex flex-col w-full h-full">
    <button mat-icon-button class="close-button mat-icon-close-button" (click)="closeDialog()">
        <mat-icon class="close-icon" matPrefix [svgIcon]="'heroicons_solid:x'">X</mat-icon>
    </button>

    <h2 mat-dialog-title class="text-4xl text-center urdu mt-2 font-bold text-blue-500">بلاک کوڈ کی تفصیل</h2>
    <div class="dailog-body px-6 pb-6 pt-3 dir-rtl">
        <table class="details-inner-tbl">
            <tr>
                <td class="urdu text-lg font-bold" style="width: 20%;">بلاک کوڈ نمبر</td>
                <td class="font-bold" style="width: 30%;">{{model.blc_code}}</td>
                <td class="urdu text-lg font-bold" style="width: 20%;"></td>
                <td style="width: 30%;"></td>
            </tr>
            <tr><td class="urdu text-lg font-bold">انتخابی علاقہ</td>
                <td colspan="3" class="urdu text-lg font-bold">{{model.ela_name}}</td>
            </tr>
            <tr><td class="urdu text-lg font-bold">پولنگ اسٹیشنز</td>
                <td colspan="3" class="urdu text-lg font-bold pb-3">
                    <ng-container *ngFor="let item of model.pollingStations?.split(',')">
                        <span class="leading-8">{{item.trim()}}</span><br/>
                    </ng-container>
                    <ng-template [ngIf]="model.pollingStations == null">
                        <span class="tbl-inner-span pb-2 font-semibold"> --- </span>
                    </ng-template>
                </td>
            </tr>
            <tr><td class="urdu text-lg font-bold">ٹوٹل ووٹر کی تعداد</td>
                <td class="font-bold">{{model.blc_votersCount}}</td>
                <td class="urdu text-lg font-bold">مرد ووٹر کی تعداد</td>
                <td class="font-bold">{{model.blc_maleVotersCount}}</td>
            </tr>
            <tr><td class="urdu text-lg font-bold">خواتین ووٹر کی تعداد</td>
                <td class="font-bold">{{model.blc_femaleVotersCount}}</td>
                <td class="urdu text-lg font-bold">خاندان کی تعداد</td>
                <td class="font-bold">{{model.blc_familiesCount}}</td>
            </tr>
        </table>
    </div>
</div>
<div mat-dialog-actions class="flex items-center justify-center mt-2 mb-3 px-4 space-x-2 ng-star-inserted">
    <button mat-flat-button class="bg-blue-400 text-white text-md ml-1" (click)="DownloadVoterParchi(model.blc_code)">Download Voter Parchi</button>
    <button mat-flat-button class="bg-blue-400 text-white text-md ml-1" (click)="DownloadVoterList(model.blc_code)">Download Voter List</button>
</div>
