<div class="relative flex flex-col w-full h-full">
    <button mat-icon-button class="close-button mat-icon-close-button" (click)="closeDialog()">
        <mat-icon class="close-icon" matPrefix [svgIcon]="'heroicons_solid:x'">X</mat-icon>
    </button>

    <h2 mat-dialog-title class="text-4xl urdu text-center pt-3 font-bold text-blue-500">یوزر پاسورڈ کی ترمیم</h2>

    <div id="div-message"></div>

    <div class="dailog-body px-6 pt-2 dir-rtl" id="form-container">

        <form [formGroup]="form">
            <table class="details-inner-tbl">
                <tr><td class="urdu text-lg font-bold pt-3" style="width: 28%;">لاگ ان (موبائل نمبر)</td>
                    <td>
                        <mat-form-field class="flex-auto readonly text-sm gt-xs:pr-3 text-right" style="width: 200px;">
                            <input matInput readonly formControlName="userName" mask='0000-0000000' placeholder="03XX-XXXXXXX" autocomplete="off" class="dir-ltr">
                        </mat-form-field>
                    </td>
                </tr>
                <tr><td class="urdu text-lg font-bold pt-3">شناختی کارڈ نمبر</td>
                    <td>
                        <mat-form-field class="flex-auto readonly text-sm gt-xs:pr-3 text-right" style="width: 200px;">
                            <input matInput readonly formControlName="cnicNumber" mask='00000-0000000-0' placeholder="XXXXX-XXXXXXX-X" autocomplete="off" class="dir-ltr">
                        </mat-form-field>
                    </td>
                </tr>
                <tr><td class="urdu text-lg font-bold pt-3">پورا نام</td>
                    <td>
                        <mat-form-field class="flex-auto readonly text-sm gt-xs:pr-3 text-right" style="width: 200px;">
                            <input matInput readonly formControlName="fullName" placeholder="Full Name" autocomplete="off" class="dir-ltr">
                        </mat-form-field>
                    </td>
                </tr>
                <tr><td class="urdu text-lg font-bold pt-3">لاگ ان پاسورڈ <span class="text-red-400 mr-1">*</span></td>
                    <td>
                        <mat-form-field class="flex-auto text-sm gt-xs:pr-3 text-right" style="width: 200px;">
                            <input matInput formControlName="password" autocomplete="off" class="dir-ltr">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div mat-dialog-actions class="flex items-right mb-1 px-4 space-x-2 ng-star-inserted">
    <button mat-flat-button class="bg-blue-400 text-white text-md" (click)="onSubmit()">Reset Password</button>
</div>
