<div class="relative flex flex-col w-full h-full">
    <button mat-icon-button class="close-button mat-icon-close-button" (click)="closeDialog()">
        <mat-icon class="close-icon" matPrefix [svgIcon]="'heroicons_solid:x'">X</mat-icon>
    </button>

    <h2 mat-dialog-title class="text-4xl text-center urdu mt-2 font-bold text-blue-500">ووٹر کی تفصیل</h2>
    <div class="dailog-body py-1 px-6">
        <div class="grid grid-cols-10 t-xs:flex-row dir-rtl">
            <div class="flex-auto col-span-6">
                <table class="details-inner-tbl">
                    <tr><td class="urdu text-lg font-bold" style="width: 17%;">شناختی کارڈ نمبر</td>
                        <td style="width: 33%;">{{_sharedService.formatCnic(model.vtr_cnic)}}</td>
                        <td class="urdu text-lg font-bold" style="width: 17%;">بلاک کوڈ نمبر</td>
                        <td style="width: 33%;">{{model.vtr_blockCode}}</td>
                    </tr>
                    <tr><td class="urdu text-lg font-bold">ووٹر کا نام</td>
                        <td>
                            <p class="urdu text-xl font-bold">{{model.vtr_nameUrdu}}</p>
                            <div *ngIf="!model.vtr_nameUrdu">
                                <img class="row_urdu_blob" onerror='this.style.display = "none"' src="{{'data:image/png;base64,' + model.vtr_nameBlob}}" />
                            </div>
                        </td>
                        <td class="urdu text-lg font-bold">والد/ شوہر کا نام</td>
                        <td>
                            <p class="urdu text-xl font-bold">{{model.vtr_fatherUrdu}}</p>
                            <div *ngIf="!model.vtr_fatherUrdu">
                                <img class="row_urdu_blob" onerror='this.style.display = "none"' src="{{'data:image/png;base64,' + model.vtr_fatherBlob}}" />
                            </div>
                        </td>
                    </tr>
                    <tr><td class="urdu text-lg font-bold">عمر</td>
                        <td>67 <span class="urdu text-lg font-bold">سال</span></td>
                        <td class="urdu text-lg font-bold">جنس</td>
                        <td class="urdu text-lg">
                            <ng-template [ngIf]="model.vtr_gender == 'M'">مرد</ng-template>
                            <ng-template [ngIf]="model.vtr_gender == 'F'">عورت</ng-template>
                            <ng-template [ngIf]="model.vtr_gender != 'M' && model.vtr_gender != 'F'">دیگر</ng-template>
                        </td>
                    </tr>
                    <tr><td class="urdu text-lg font-bold">گھر کا پتہ</td>
                        <td colspan="3">
                            <p class="urdu text-xl font-bold">{{model.vtr_addressUrdu}}</p>
                            <div *ngIf="!model.vtr_addressUrdu">
                                <img class="row_urdu_blob" onerror='this.style.display = "none"' src="{{'data:image/png;base64,' + model.vtr_addressBlob}}" />
                            </div>
                        </td>
                    </tr>
                    <tr><td class="urdu text-lg font-bold">موبائل نمبر</td>
                        <td colspan="3">
                            <ng-container *ngIf="((model.vtr_mobile && model.vtr_mobile != '') || (model.vtr_mobile2 && model.vtr_mobile2 != '') || (model.vtr_mobile3 && model.vtr_mobile3 != ''));else nophone_message">
                                {{_sharedService.formatMobile(model.vtr_mobile)}} &nbsp; {{_sharedService.formatMobile(model.vtr_mobile2)}} &nbsp; {{_sharedService.formatMobile(model.vtr_mobile3)}}
                            </ng-container>
                            <ng-template #nophone_message>---</ng-template>
                        </td>
                    </tr>
                    <tr><td class="urdu text-lg font-bold">واٹس ایپ نمبر</td>
                        <td colspan="3">
                            <ng-container *ngIf="(model.vtr_whatsApp && model.vtr_whatsApp != '');else nowhatsapp_message">
                                {{_sharedService.formatMobile(model.vtr_whatsApp)}}
                            </ng-container>
                            <ng-template #nowhatsapp_message>---</ng-template>
                        </td>
                    </tr>
                    <tr><td class="urdu text-lg font-bold">سلسلہ نمبر</td>
                        <td>{{model.vtr_silsila}}</td>
                        <td class="urdu text-lg font-bold">گھرانہ نمبر</td>
                        <td>{{model.vtr_girana}}</td>
                    </tr>
                    <tr><td class="urdu text-lg font-bold">پولنگ اسٹیشن</td>
                        <td colspan="3" class="urdu text-lg">{{model.vtr_pollingStation}}</td>
                    </tr>
                </table>
            </div>
            <div class="flex-auto col-span-4 pt-3">
                <div class="loc-container">
                    <ng-container *ngIf="(lat && lng);else noloc_message">
                        <iframe width="320" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" [src]='secureUrl'></iframe><script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=63dc609237ea4eac295db70898fd702268efb054'></script>
                    </ng-container>
                    <ng-template #noloc_message>location not taken</ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="flex items-center justify-center mt-2 mb-3 px-4 space-x-2 ng-star-inserted">
    <button mat-flat-button class="bg-blue-400 text-white text-md ml-1" (click)="closeDialog()">Send Details by WhatsApp</button>
    <button mat-flat-button class="bg-blue-400 text-white text-md ml-1" (click)="closeDialog()">Send Details by SMS</button>
    <button mat-flat-button class="bg-blue-400 text-white text-md ml-1" (click)="downloadVoterParchi()">Download Slip</button>
</div>
